@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Second - Index2";
}

<h2>Persons List</h2>
<ul>
    @foreach (var person in (List<string>)ViewBag.Persons)
    {
        <li>@person</li>
    }
</ul>
<a href="c:\users\r uday kumar reddy\source\repos\mvcdemo\mvcdemo\views\second\index3.cshtml">c:\users\r uday kumar reddy\source\repos\mvcdemo\mvcdemo\views\second\index3.cshtml</a>